.Title {
    margin-left: 16pt;
    margin-right: 16pt;
}

.Description {
    background-color: white;
    margin-left: 16pt;
    margin-right: 16pt;
    border-radius: 20pt;
}

.indented {
    margin-left: 5pt;
}

p {
    margin: 20pt;
}
