body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

code {
  font-family: monospace;
}

.Title {
    margin-left: 2em;
    margin-right: 2em;
}

.Description {
    background-color: #191919;
    margin: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    border-radius: 2.25em;
    overflow: hidden;
    position: relative;
}

.indented {
    margin-left: 2.5em;
}

.Subtitle {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.iconDesc {
  float: left;
}
.icon {
  width: 3.5em;
  height: 3.5em;
  margin: 1em 2em;
}
.sectionTitle {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5em;
}

p {
    margin-left: 20pt;
    margin-right: 20pt;
}

h2 {
    margin-left: 20pt;
    margin-right: 20pt;
}
h3 {
    margin-left: 20pt;
    margin-right: 20pt;
}

a:link, a:visited {
  color: white;
}
a:hover, a:active {
  text-shadow: 0px 0px 5px white;
}

.screenshotsScroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border-radius: 10pt;
    margin: 0 1em;
}
.screenshotsScroll::-webkit-scrollbar {
    display: none;
}

.screenshotsScroll > * {
    width: 100%;
    border-radius: 10pt;
    max-width: 15em;
    max-height: calc((812 / 375) * 15em);
    width: auto;
    height: auto;
    float: left;
    flex: 0 0 auto;
    margin: 0 0.25em;
}
